/* Color Pallete */
:root {
  --brightaccent: #FF7F11;
  --darkbase: #373F51;
  --mediumbase: #19647E;
  --brightbase: #32A287;
  --lightneutral: #D9D9D9;
}

body {
  background-color: var(--lightneutral);
  color: var(--darkbase);
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Avenir';
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  height: 8vh;
  justify-content: center;
  background-color: var(--brightbase);
  border-radius: 10px;
  color: white;
}

h3 {
  margin-top: 18px;
}

.tank-environment-selector {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.header-selector-container {
  display: block;
  margin: auto;
  text-align: left;
}

.fish-tank-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.fish-tank-header {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 5vh;
}

.foods-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33vw;
}

.foods-container ul {
  padding: 5px;
}

.base-fish-tank {
  border: solid 4px var(--mediumbase);
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 43vh;
  margin: auto;
}

.critters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 50vh;
  width: 80vw;
}

.critter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70px;
  width: 200px;
}

.critter-button {
  height: 25px;
  margin: auto;
}

.forms-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  background-color: var(--darkbase);
  border: 4px solid var(--darkbase);
  color: white;
  border-radius: 2px;
  width: 90vw;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 15px;
}

.critter-details {
  display: none;
}

.critter-details-form {
  font-size: .9em;
  margin: 2px;
}

.adda-fish {
  display: none;
}

.deletea-fish {
  display: none;
}

.adda-food {
  display: none;
}

button {
  margin: 5px;
}

button.add-fish_button {
  background-color: var(--darkbase);
  color: white;
}

button.delete-fish_button {
  background-color: var(--brightbase);
  color: white;
}

button.add-food-button {
  background-color: var(--mediumbase);
  color: white;
}

button.submit {
  background-color: var(--brightaccent);
  color: var(--darkbase);
}

.fish {
  width: 100px;
  height: 70px;
  background-image: url("./images/fish.png");
  background-size: cover;
}

.frog {
  width: 60px;
  height: 70px;
  background-image: url("./images/frog.png");
  background-size: cover;
}

.shark {
  width: 70px;
  height: 80px;
  background-image: url("./images/shark.png");
  background-size: cover;
}

.shelled {
  width: 70px;
  height: 60px;
  background-image: url("./images/shelled.png");
  background-size: cover;
}

.shrimp {
  width: 60px;
  height: auto;
  background-image: url("./images/shrimp.png");
  background-size: cover;
}

.star {
  width: 60px;
  height: 60px;
  background-image: url("./images/star.png");
  background-size: cover;
}


